@import '../../assets/style/variables.module.scss';

.estate-details-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 20px;
  @media (max-width: 768px) {
    padding-top: 15px;
    flex-direction: column;
    align-items: flex-start;
  }
  h1 {
    font-size: 36px;
    color:$main-color;
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
  p {
    margin-top: 5px;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: flex-start;
    padding: 20px 0px;
    @media (max-width: 768px) {
      padding: 15px 0px;
    }
    li {
      display: block;
      color: #fff;
      background-color: $main-color;
      padding: 3px 15px 3px 15px;
      box-sizing: border-box;
      min-width: 115px;
      font-size: 14px;
      border-radius: 15px;
      text-align: center;
      line-height: 20px;
      @media (max-width: 768px) {
        font-size: 10px;
        min-width: 0px;
        padding: 1px 15px 1px 15px;
        border-radius: 5px;
      }
    }
  }
}
.estate-owner-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 33%;
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    @media (max-width: 768px) {
      order: 2;
    }

    p {
      white-space: pre-wrap;
      text-align: end;
      color:$main-color;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #c4c4c4;
      @media (max-width: 768px) {
        height: 32px;
        width: 32px;
      }
    }
  }
  .rating {
    text-align: end;
    .star {
      margin-left: 0.5em;
      font-size: 24px;
      @media (max-width: 950px) {
        font-size: clamp(0.8125rem, -1.4634rem + 4.7414vw, 1.5rem);
      }
      @media (max-width: 768px) {
        font-size: 13px;
      }
      &.inactive {
        fill: $secondary-color;
      }
      &.active {
        fill: $main-color;
      }
      svg {
        font-size: inherit;
      }
    }
  }
}
.estate-collapsibles {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }

  .collapse-container {
    width: 48%;
    @media (max-width: 768px) {
      width: 100%;
    }
    p,
    ul,
    li {
      line-height: 1.5em;
      font-size: 18px;
      @media (max-width: 768px) {
        font-size: 13px;
      }
    }

    .collapse-title {
      border-radius: 10px;

      p {
        padding: 8px 0px 8px 0px;
        @media (max-width: 768px) {
          padding: 3px 0px 3px 0px;
        }
      }
    }
    .collapse-content {
      ul {
        padding-top: 16px;
        padding-bottom: 0px;
      }
    }
  }
}