header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px 20px 100px;
    @media (max-width: 769px) {
      padding: 20px;
    }
    img {
      height: 68px;
      object-fit: contain;
      @media (max-width: 769px) {
        height: 47px;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
      @media (max-width: 480px) {
        gap: 10px;
      }
      li {
        display: block;
        a {
          text-decoration: none;
          @media (max-width: 769px) {
            font-size: 12px;
            text-transform: uppercase;
          }
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }